<div class="parent">
    <div style="display: flex;">
        <div class="child-top">
            <h1>employee details</h1>
            <button class="btn btn-primary m-2">experiance from high to low</button>
            <button class="btn btn-primary">experiance from low to high</button>
            <button class="btn btn-warning m-2">package from high to low</button>
            <button class="btn btn-warning">package from low to high</button>
            <button class="btn btn-dark m-2">Hike 20%</button>
            <button class="btn btn-dark">Bonus</button>
            <button class="btn btn-success m-2">Junior Developers</button>
            <button class="btn btn-success ">Senior Developers</button>
            <button class="btn btn-info m-2">Total CTC</button>
            <button class="btn btn-info">Total employees</button>
        </div>
        <div>
            <label for="">Name:</label>
            <input type="text" name="" id="">
            <br>

            <label for="">Company:</label>
            <input type="text" name="" id="">
            <br>

            <label for="">Experiance:</label>
            <input type="number" name="" id="">
            <br>

            <label for="">Package:</label>
            <input type="number" name="" id="">
            <br>

            <label for="">Working Employee:</label>
            <input type="text" name="" id="">
            <br>

        </div>
    </div>
    <div class="child-bottom"></div>
</div>
