.parent{
    height: 100vh;
    width: 100%;
    background-color: aquamarine;
}
.child-top{
    height: 30%;
    width: 60%;
}
input{
    margin: 5px;
}
td{
    text-align: center;
}
table{
    height: 100vh;
    width: 100%;
}