<div class="parent ">
    <div>
        <form action="" [formGroup]="studentForm">
            <label for="">Name:</label>
            <input type="text" name="" id="" formControlName="name"> 
            <br>

            <label for="">Class:</label>
            <input type="text" name="" id="" formControlName="phone"> 
            <br>

            <label for="">Father Name:</label>
            <input type="text" name="" id=""formControlName="city"> 
            <br>

            <label for="">Email:</label>
            <input type="text" name="" id="" formControlName="fee"> 
            <br>

            <label for="">DOB:</label>
            <input type="text" name="" id="" formControlName="image"> 
            <br>

            <button (click)="submit()" class="btn btn-primary">{{id ? "Update" : "Create"}}</button>
        </form>
    </div>
</div>
