
<div class="parent">
    <div class="child">
        <div>
            <label for="">number1</label><br>
            <input type="number" name="" id="" [(ngModel)]="num1"><br>


            <label for="">number2</label><br>
            <input type="number" name="" id="" [(ngModel)]="num2"><br>

            <button (click)="sum()">sum</button>
            <button (click)="sub()">sub</button>
            <button (click)="div()">div</button>
            <button (click)="mul()">mul</button>
        </div>

        <h1>result:{{result}}</h1>
    </div>
</div>