<div class="parent">
    <div class="child">
        <div class="top-child"></div>
        <div class="middle-child">
            <img src="https://th.bing.com/th/id/OIP.jryuUgIHWL-1FVD2ww8oWgHaHa?rs=1&pid=ImgDetMain" alt="" style="height: 100px; width: 100px; border-radius: 50px;">
        </div>
        <div class="bottom-child">
            <h1>Morgan Sweeney</h1>
            <p>Ant Collector</p>

            <h1>{{arr}}</h1>
            <button class="btn btn-warning mt-1" (click)="button()">Follow</button>
        </div>
    </div>
</div>