<div [formGroup]="studentForm">
    <label for="">Student Image</label>
    <input type="text" name="" id="" formControlName="image"><br>

    <label for="">Name</label>
    <input type="text" name="" id="" formControlName="name"><br>

    <label for=""> ID</label>
    <input type="text" name="" id="" formControlName="id"><br>

    <label for="">Phone</label>
    <input type="text" name="" id="" formControlName="phone"><br>

    <label for="">City</label>
    <input type="text" name="" id="" formControlName="city"><br>

    <label for="">Fee</label>
    <input type="text" name="" id="" formControlName="fee"><br>

    <button class="btn btn-info" (click)="submit()">Submit</button>
</div>
