<div>
    <form action="" [formGroup]="vehicleForm">
        <label for="" >Vehicle</label>
        <input type="text" name="" id="" formControlName="VehicleForms"><br>

        <label for="">Manufacturrer</label>
        <input type="text" name="" id="" formControlName="manufacturrer"><br>

        <label for="">Model</label>
        <input type="text" name="" id="" formControlName="model"><br>

        <label for="">Type</label>
        <input type="text" name="" id="" formControlName="type"><br>

        <label for="">Color</label>
        <input type="text" name="" id=""formControlName="color"><br>

        <label for="">Image</label>
        <input type="text" name="" id=""formControlName="image"><br>

        <button class="btn btn-warning" (click)="submit()">Submit</button>

    </form>
</div>
