<div class="parent">
    <div class="card" *ngFor="let product of productData">
        <img src="{{product.image}}" alt="" height="100px" width="100px" style="margin: 10px 0px 5px 100px;">
        <h3>{{product.name}}</h3>
        <p>Price:-{{product.price}}/-</p>
        <p>Model:-{{product.model}}</p>
        <p>FreeDelivery:-{{product.freeDelivery}}</p>
        <p></p>
        <div>
            <button class="btn btn-danger" (click)="delete(product.id)"
            
            >Delete</button>
        </div>
    </div>
</div>