<div class="parent">
    <div class="left">
        <h1 routerLink="home">Home</h1>
        <h1 routerLink="about">About</h1>
        <h1 routerLink="dataBanding">DataBinding</h1>
        <h1 routerLink="calculater">Calculater</h1>
        <h1 routerLink="rectangle">Rectangle</h1>
        <h1 routerLink="circle">Circle</h1>
        <h1 routerLink="bmi">BMI</h1>
        <h1 routerLink="directive">Directive</h1>
        <h1 routerLink="marks">Marks</h1>
        <h1 routerLink="product">Products</h1>
        <h1 routerLink="registration">Registration Form</h1>
        <h1 routerLink="car">Cars</h1>
        <h1 routerLink="employee">Employee Table</h1>
        <h1 routerLink="vehicle">Vehicle</h1>
        <h1 routerLink="accounts">Accounts</h1>
        <h1 routerLink="photoes">Photoes</h1>
        <h1 routerLink="flipkart">Flipkart</h1>
        <h1 routerLink="mail">Mail</h1>
        <h1 routerLink="activity">Activity</h1>
        <h1 routerLink="students">Students Info</h1>
        <h1 routerLink="vehicleCars">VehicleCars</h1>
        <h1 routerLink="createAccount">Create Account</h1>
        <h1 routerLink="createStudentInfo">CreateStudentInfo</h1>
        <h1 routerLink="createUser">Create User</h1>
        <h1 routerLink="onlineAccount">Online Account</h1>
        <h1 routerLink="studentform">Student Form</h1>
        <h1 routerLink="productForm">ProductInfo</h1>
        <h1 routerLink="productTabel">Product Details</h1>
        <h1 routerLink="parent">Parent</h1>
        <h1 routerLink="client">Client Info</h1>
        <h1 routerLink="client-form">Client Form</h1>
        <h1 routerLink="animals">Animal Info</h1>
        <button (click)="logout()">Logout</button>


    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
